.categories-menu {
	.category-item {
		width: 100%;
		border: 1px solid #CBCBCB;
		background-color: white;
		margin: 10px 0;
		padding: 5px 8px;
		border-radius: @base-border-radius;
		display: block;
		&.active {
			background-color: #f8f8f8;
			border: 2px solid #aaaaaa;
		}
	}
}
