.course-wrapper {
	.course-box {
		margin-bottom: 15px;
		border: 1px solid #CBCBCB;
		background-color: white;
		border-radius: @base-border-radius;
		text-align: center;
		.course-box-inner {
			border: 1px solid #CBCBCB;
			border-radius: @base-border-radius * 2;
			margin: 10px;
			a.course-image {
				display: block;
				& > img {
					max-width: 100%;
					height: auto;
					border-top-left-radius: 7px;
					border-top-right-radius: 7px;
				}
			}
			.course-author {
				margin-left: 10px;
			}
			.course-category {
				margin-right: 10px;
			}
			.course-title {
				display: block;
				border-top: 2px solid #84907A;
				padding: 8px 0;
				border-bottom: 2px solid #84907A;
			}
			.course-users-count {
				padding: 8px 0;
				&::before {
					position: relative;
					top: 1px;
					left: 8px;
				}
			}
		}
	}
}
