.head {
	background-color: #CDCDCD;
	margin-bottom: 20px;
	position: fixed;
	z-index: 5;
	width: 100%;
	button.navbar-toggle {
		background-color: white;
		span.icon-bar {
			background-color: #cccccc;
		}
	}
	.navigation {
		.logo {
			margin: 0 20px;
		}
		.user-info {
			margin: 13px 10px;
		}
		ul {
			& > li {
				&.active {
					background-color: #eeeeee;
				}
				&.open { /* dropdown open */
					background-color: #eeeeee;
					& > a {
						text-decoration: underline;
					}
				}
				& > a {
					padding: 15px;
					color: #337ab7;
					background-color: transparent;
					font-size: 16px;
					&:hover {
						color: #337ab7;
						background-color: #eeeeee;
						text-decoration: underline;
					}
				}
				& > ul {
					border: 0;
					padding: 0;
				}
			}
		}
	}
}