.home-page {
	.test-item {
		border-radius: @base-border-radius;
		box-shadow: 1px 1px 3px 0px #A8A8A8;
		background-color: white;
		margin-bottom: 20px;
		padding: 15px 10px;
		& > img {
			float: left;
		}
		& > .course-box {
			font-size: 20px;
			font-weight: bold;
			float: left;
			margin-left: 15px;
			span.review-words-count {
				font-weight: normal;
				font-size: 16px;
				margin: 8px 0;
				display: inline-block;
			}
		}
	}

	.user-info-box {
		border-radius: 4px;
		box-shadow: 1px 1px 3px 0px #a8a8a8;
		background-color: white;
		margin-bottom: 20px;
		padding: 15px 10px;
		text-align: center;
		.header {
			text-transform: capitalize;
			font-variant: small-caps;
			font-size: 23px;
			font-weight: bold;
			color: #1fa3e8;
			border-bottom: 1px solid #aaa;
			margin-bottom: 8px;
			padding-bottom: 8px;
		}
		.nickname {
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 8px;
		}
		.value {
			font-size: 17px;
		}
		.value-label {
			font-size: 13px;
		}
		.goal-stats {
			font-weight: bold;
			.out-of {
				color: #888888;
				font-weight: normal;
			}
		}
		.goal {
			&.achieved {
				color: #5AC736;
			}
			&.nonachieved {
				color: #F27E7E;
			}
		}
	}
}