.review-page {
	text-align: center;
	div#key-word {
		font-size: 20px;
		margin-bottom: 30px;
		display: none;
	}
	input#answer {
		font-size: 20px;
		height: 45px;
		display: none;
		&.correct {
			background-color: #5AC736;
		}
		&.incorrect {
			background-color: #F27E7E;
		}
	}
	div#correct-answer {
		font-size: 18px;
		margin-top: 20px;
		display: none;
	}
	div#loading {
		padding: 20px 0;
		font-size: 15px;
	}
	button#next-button {
		margin-top: 20px;
		display: none;
		&.glyphicon-menu-right {
			&:before {
				content: "";
			}
			&:after {
				content: "\e258";
				position: relative;
				top: 3px;
				left: 7px;
			}
		}
	}
	#table-review,
	.back-to-course {
		display: none;
		text-align: left;
	}
}
