// variables START
@import "imports/variables.less";
@menu-border-color: blue;
// variables END

@import "common.less";

.content {
	padding: 20px 10px;
	margin-bottom: 40px;
	box-shadow: 0 0 60px 10px #A8A8A8;
	border-radius: @base-border-radius;
	background-color: white;
	box-shadow-top: 0;
}

.head {
	margin: 20px;
	h1 {
		margin-top: 0;
	}
	.user {
		font-size: 18px;
	}
	nav.navbar {
		background-color: transparent;
		border: 0;
		text-align: center;
		font-size: 20px;
		ul.nav {
			float: none;
			& > li {
				float: none;
				display: inline-block;
				& > a {
					border: 0;
					border-bottom: 1px solid @menu-border-color;
					border-radius: 0;
					&:focus,
					&:hover {
						background-color: transparent;
						border: 0;
						border-bottom: 1px solid @menu-border-color;
						border-top: 1px solid @menu-border-color;
						padding-top: 14px;
					}
				}
				&.active {
					& > a {
						&,
						&:focus,
						&:hover {
							background-color: transparent;
							border-bottom: 3px solid @menu-border-color;
						}
					}
				}
			}
		}
	}
}

.content {
	h2 {
		margin-bottom: 30px;
	}
}
.alert {
	color: black;
	background-color: white;
	border: 1px solid #333333;
	padding: 1em;
	margin-bottom: 1em;
	position: relative;
	font-weight: bold;
	&.alert-danger {
		border-color: red;
		background-color: #FFC0CB;
	}
	&.alert-success {
		border-color: green;
		background-color: #98FB98;
	}
}
@media (max-width: @xs-max-width) {
	.container {
		padding-right: 0;
		padding-left: 0;
	}
	.head {
		margin: 0;
		margin-top: 20px;
		nav.navbar {
			ul.nav {
				& > li {
					display: block;
					& > a {
						&:focus,
						&:hover {
							background-color: lighten(@menu-border-color, 28%);
							border-top: 0;
							padding-top: 10px;
						}
					}
					&.active {
						& > a {
							background-color: lighten(@menu-border-color, 40%);
							border-width: 1px;
							&:focus,
							&:hover {
								background-color: lighten(@menu-border-color, 28%);
								border-width: 1px;
							}
						}
					}
				}
			}
		}
	}
}