body {
  font-size: 16px;
  background-color: #eeeeee;
}
.alert-dismissable .close {
  left: 0;
  font-size: 28px;
}
.bold {
  font-weight: bold;
}
.content {
  padding: 20px 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 60px 10px #a8a8a8;
  border-radius: 4px;
  background-color: white;
  box-shadow-top: 0;
}
.head {
  margin: 20px;
}
.head h1 {
  margin-top: 0;
}
.head .user {
  font-size: 18px;
}
.head nav.navbar {
  background-color: transparent;
  border: 0;
  text-align: center;
  font-size: 20px;
}
.head nav.navbar ul.nav {
  float: none;
}
.head nav.navbar ul.nav > li {
  float: none;
  display: inline-block;
}
.head nav.navbar ul.nav > li > a {
  border: 0;
  border-bottom: 1px solid blue;
  border-radius: 0;
}
.head nav.navbar ul.nav > li > a:focus,
.head nav.navbar ul.nav > li > a:hover {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid blue;
  border-top: 1px solid blue;
  padding-top: 14px;
}
.head nav.navbar ul.nav > li.active > a,
.head nav.navbar ul.nav > li.active > a:focus,
.head nav.navbar ul.nav > li.active > a:hover {
  background-color: transparent;
  border-bottom: 3px solid blue;
}
.content h2 {
  margin-bottom: 30px;
}
.alert {
  color: black;
  background-color: white;
  border: 1px solid #333333;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
  font-weight: bold;
}
.alert.alert-danger {
  border-color: red;
  background-color: pink;
}
.alert.alert-success {
  border-color: green;
  background-color: palegreen;
}
@media (max-width: 767px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .head {
    margin: 0;
    margin-top: 20px;
  }
  .head nav.navbar ul.nav > li {
    display: block;
  }
  .head nav.navbar ul.nav > li > a:focus,
  .head nav.navbar ul.nav > li > a:hover {
    background-color: #8f8fff;
    border-top: 0;
    padding-top: 10px;
  }
  .head nav.navbar ul.nav > li.active > a {
    background-color: #ccccff;
    border-width: 1px;
  }
  .head nav.navbar ul.nav > li.active > a:focus,
  .head nav.navbar ul.nav > li.active > a:hover {
    background-color: #8f8fff;
    border-width: 1px;
  }
}
