@import "imports/variables.less";
@import "common.less";
@import "imports/head.less";
@import "imports/home-page.less";
@import "imports/course-wrapper.less";
@import "imports/course-detail.less";
@import "imports/review-page.less";
@import "imports/categories-menu.less";
@import "imports/settings-page.less";

body {
	background-color: white;
}
.content {
	padding: 70px 20px 30px 20px;
	background-color: #eeeeee;
	box-shadow: 0px 0px 35px 0px #eeeeee;
}

// vlastní úprava float-label
// v normální části webu nefunguje skrývání labelu přes z-index
.float-label-control label {
	display: none;
}
.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label {
	display: block;
}