body {
  font-size: 16px;
  background-color: #eeeeee;
}
.alert-dismissable .close {
  left: 0;
  font-size: 28px;
}
.bold {
  font-weight: bold;
}
a.ajax-href {
  cursor: pointer;
}
.head {
  background-color: #cdcdcd;
  margin-bottom: 20px;
  position: fixed;
  z-index: 5;
  width: 100%;
}
.head button.navbar-toggle {
  background-color: white;
}
.head button.navbar-toggle span.icon-bar {
  background-color: #cccccc;
}
.head .navigation .logo {
  margin: 0 20px;
}
.head .navigation .user-info {
  margin: 13px 10px;
}
.head .navigation ul > li.active {
  background-color: #eeeeee;
}
.head .navigation ul > li.open {
  /* dropdown open */
  background-color: #eeeeee;
}
.head .navigation ul > li.open > a {
  text-decoration: underline;
}
.head .navigation ul > li > a {
  padding: 15px;
  color: #337ab7;
  background-color: transparent;
  font-size: 16px;
}
.head .navigation ul > li > a:hover {
  color: #337ab7;
  background-color: #eeeeee;
  text-decoration: underline;
}
.head .navigation ul > li > ul {
  border: 0;
  padding: 0;
}
.home-page .test-item {
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0px #a8a8a8;
  background-color: white;
  margin-bottom: 20px;
  padding: 15px 10px;
}
.home-page .test-item > img {
  float: left;
}
.home-page .test-item > .course-box {
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 15px;
}
.home-page .test-item > .course-box span.review-words-count {
  font-weight: normal;
  font-size: 16px;
  margin: 8px 0;
  display: inline-block;
}
.home-page .user-info-box {
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0px #a8a8a8;
  background-color: white;
  margin-bottom: 20px;
  padding: 15px 10px;
  text-align: center;
}
.home-page .user-info-box .header {
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 23px;
  font-weight: bold;
  color: #1fa3e8;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.home-page .user-info-box .nickname {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}
.home-page .user-info-box .value {
  font-size: 17px;
}
.home-page .user-info-box .value-label {
  font-size: 13px;
}
.home-page .user-info-box .goal-stats {
  font-weight: bold;
}
.home-page .user-info-box .goal-stats .out-of {
  color: #888888;
  font-weight: normal;
}
.home-page .user-info-box .goal.achieved {
  color: #5ac736;
}
.home-page .user-info-box .goal.nonachieved {
  color: #f27e7e;
}
.course-wrapper .course-box {
  margin-bottom: 15px;
  border: 1px solid #cbcbcb;
  background-color: white;
  border-radius: 4px;
  text-align: center;
}
.course-wrapper .course-box .course-box-inner {
  border: 1px solid #cbcbcb;
  border-radius: 8px;
  margin: 10px;
}
.course-wrapper .course-box .course-box-inner a.course-image {
  display: block;
}
.course-wrapper .course-box .course-box-inner a.course-image > img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.course-wrapper .course-box .course-box-inner .course-author {
  margin-left: 10px;
}
.course-wrapper .course-box .course-box-inner .course-category {
  margin-right: 10px;
}
.course-wrapper .course-box .course-box-inner .course-title {
  display: block;
  border-top: 2px solid #84907a;
  padding: 8px 0;
  border-bottom: 2px solid #84907a;
}
.course-wrapper .course-box .course-box-inner .course-users-count {
  padding: 8px 0;
}
.course-wrapper .course-box .course-box-inner .course-users-count::before {
  position: relative;
  top: 1px;
  left: 8px;
}
.course-detail .enroll-button,
.course-detail .review-button {
  margin-top: 20px;
}
.course-detail .bootstrap-table {
  margin-top: 20px;
}
.course-detail .bootstrap-table thead {
  display: none !important;
}
.review-page {
  text-align: center;
}
.review-page div#key-word {
  font-size: 20px;
  margin-bottom: 30px;
  display: none;
}
.review-page input#answer {
  font-size: 20px;
  height: 45px;
  display: none;
}
.review-page input#answer.correct {
  background-color: #5ac736;
}
.review-page input#answer.incorrect {
  background-color: #f27e7e;
}
.review-page div#correct-answer {
  font-size: 18px;
  margin-top: 20px;
  display: none;
}
.review-page div#loading {
  padding: 20px 0;
  font-size: 15px;
}
.review-page button#next-button {
  margin-top: 20px;
  display: none;
}
.review-page button#next-button.glyphicon-menu-right:before {
  content: "";
}
.review-page button#next-button.glyphicon-menu-right:after {
  content: "\e258";
  position: relative;
  top: 3px;
  left: 7px;
}
.review-page #table-review,
.review-page .back-to-course {
  display: none;
  text-align: left;
}
.categories-menu .category-item {
  width: 100%;
  border: 1px solid #cbcbcb;
  background-color: white;
  margin: 10px 0;
  padding: 5px 8px;
  border-radius: 4px;
  display: block;
}
.categories-menu .category-item.active {
  background-color: #f8f8f8;
  border: 2px solid #aaaaaa;
}
@media (max-width: 767px) {
  .settings-page > .row > .col-xs-12 + .col-xs-12 {
    margin-top: 35px;
  }
}
body {
  background-color: white;
}
.content {
  padding: 70px 20px 30px 20px;
  background-color: #eeeeee;
  box-shadow: 0px 0px 35px 0px #eeeeee;
}
.float-label-control label {
  display: none;
}
.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label {
  display: block;
}
